.container {
  background-color: rgb(20, 133, 231);
  height: auto;
  width: auto;
}
.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  

}
.titile{
  color: #fff;
 

}
.form-Container {
  background-color: #fff;
margin-top:2rem;
  padding: 50px 7rem;
  border-radius: 5px;
  border: 2px solid rgb(44, 40, 40);
}
.inputs{
  height: 30px;
  width: 15rem;
  margin:5px 2rem;
  border: 2px solid;
  border-radius: 5px;
}
.button {
  background-color:#4cb44c;
  padding:0.5rem 7.3rem;
  color:#fff;
  font-size: large;
  font-weight: 400;
  border-radius: 5px;
}
hr{
 padding:0.5px;
  background-color: #fff;
}
.taskcard{
  background-color: rgb(252, 250, 251);
  display:flex;
  justify-content: space-between;
  margin:0.5rem 35rem;
  padding: 2px 1rem;
  align-items: center;
  width:25rem;
}
.icon-styles{
  margin: 2px;
}
.complete {
  position: relative;
  background-color: #fff;
  border-left: 5px solid orangered;
}

.complete::after {
  content: "Completed";
  position: absolute;
  right: 1rem;
  bottom: 3px;
  background-color: orangered;
  color: #fff;
  padding: 2px;
  border-radius: 3px;
}